page {
    background-color: #E5E5E5;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.2vw 1vw;
    padding-bottom: env(safe-area-inset-bottom);

    .case-item {
        display: flex;
        overflow: hidden;
        width: 48vw;
        flex-direction: column;
        margin-bottom: 2vw;
        background-color: #fff;
        border-radius: 8px;


        .thumb {
            display: block;
            width: 100%;
            height: 63.47vw;
        }

        .panel {
            display: flex;
            // flex: 1;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 2.66vw 4.8vw;
            color: #909090;

            .title {
                overflow: hidden;
                margin: 2.5vw 0;
                color: #000;
                font-size: 4vw;
                line-height: 5.87vw;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .desc {
                display: -webkit-box;
                overflow: hidden;
                min-height: 9vw;
                -webkit-box-orient: vertical;
                font-size: 3.47vw;
                -webkit-line-clamp: 2;
                line-height: 4.8vw;
                text-overflow: ellipsis;
                white-space: normal;
                word-break: break-all;
                word-wrap: break-word;
            }
        }
    }
}
